body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    padding: 20px;
}

.header > .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}


.links  {
    display: flex;
    margin-left: auto;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
}


.footer {
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    background-color: #1F2937;
}